@import '../node_modules/antd/dist/antd.css';

.App {
  padding: 30px 30px 0 30px;
}

.action {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  padding-top: 30px;
  padding-bottom: 10px;
}

.ant-table-body {
  overflow-x: auto;
}

.editable-row input {
  width: 50px;
}
